@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.aboutme{
  margin:40px 30px;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  color:var(--primary-color);
transition: transform 0.4s;
  @include responsive(desktop) {
      margin:0;
      padding:100px;
      gap:50px;
      align-items: center;
  }
}
.main--show{
  transform: translateX(110%);
}