@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.about-me {
  position: relative;
  padding-left:40px;
}

.about-me p {
  font-size: 15px;
  line-height: 1.5;
  position: relative;
  top:30px;
  font-family: 'Roboto', sans-serif;
  @include responsive(desktop) {
    width: 1100px;
    font-size: 30px;
  }
}

.highlight {
  color: var(--tertiary-color);
  font-weight: bold;
}

.main-image {
  position: absolute;
  bottom: 340px; /* Ajusta la posición según sea necesario */
  right: 20px;
  width: 130px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  z-index: 1000; /* Asegura que esté encima del overlay */
  @include responsive(desktop) {
    width: 230px;
    bottom: 10px;
  }
}

.main-image:hover {
  transform: scale(1.2);
  animation: bouncy 0.3s ease-in-out;
}

@keyframes bouncy {
  0%, 100% {
      transform: scale(1.2) translateY(0);
  }
  50% {
      transform: scale(1.2) translateY(-10px);
  }
}

.overlay-images {
  position: absolute; /* Fija el overlay en relación a la ventana */
            top: 140px;
            right: 50px;
            width: 350px;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            grid-template-rows: 50% 50%;
            gap: 20px;
            z-index: 9999;
            opacity: 0; /* Inicialmente oculto */
            transform: translateX(100%); /* Inicialmente fuera de la pantalla */
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Transiciones suaves */
            @include responsive(desktop) {
              height: auto;;
              right: 800px;
              top:100px;
              width: 600px;
              gap:80px;
            }
}
.overlay-images.show {
  opacity: 1; /* Hacer visible */
            transform: translateX(0); /* Mover a la posición original */
            animation: bounce-in 0.6s ease-in-out; /* Animación de rebote al entrar */
}

.overlay-images.hide {
  opacity: 0; /* Hacer invisible */
            transform: translateX(100%); /* Mover fuera de la pantalla */
            animation: none; /* Eliminar la animación de rebote al salir */
}

.overlay-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slide-in {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-out {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

@keyframes bounce-in {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  50% {
      transform: scale(1.2);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.overlay-images.hide {
  animation: slide-out 0.3s ease-in-out; /* Animación de salida */
}