@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.about-me {
  position: relative;
  padding: 20px;
  padding:20px;
}

.about-me p {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
}

.highlight {
  color: red;
  font-weight: bold;
}

.main-image {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.main-image:hover {
  transform: scale(1.2);
  animation: bouncy 0.3s ease-in-out;
}

@keyframes bouncy {
  0%, 100% {
      transform: scale(1.2) translateY(0);
  }
  50% {
      transform: scale(1.2) translateY(-10px);
  }
}

.overlay-images {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  height: 300px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  z-index: 9999;
  background: transparent;
  overflow: hidden;
  animation: slide-in 0.3s ease-in-out; /* Animación de entrada más rápida */
}

.overlay-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: bounce-in 0.3s ease-in-out;
}

@keyframes slide-in {
  from {
      transform: translateX(100%);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slide-out {
  from {
      transform: translateX(0);
      opacity: 1;
  }
  to {
      transform: translateX(100%);
      opacity: 0;
  }
}

@keyframes bounce-in {
  0% {
      transform: scale(0.5);
      opacity: 0;
  }
  50% {
      transform: scale(1.2);
      opacity: 1;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}

.overlay-images.hide {
  animation: slide-out 0.3s ease-in-out; /* Animación de salida más rápida */
}