@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.banner{
    display:flex;
    flex-direction: column;
    margin:auto;
    text-align: center;
    align-items: center;
    margin-top:30px;
    @include responsive(desktop) {
        position: relative;
        right:180px;
        top:140px;
    }
    &__aboutme{
        font-family: var(--font-text);
        font-size: 16px;
        padding: 0 20px;
        @include responsive(desktop) {
            width: 600px;
            font-size: 30px;
            padding:0;
            margin:0;
        }
    }
    &__links{
        display: flex;
        flex-direction: row;
        gap:30px;
        font-family:var(--font-text);
        font-size: 18px;
        @include responsive(desktop) {
        }
    }
}