@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.banner{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top:40px;
    @include responsive(desktop) {
        position: relative;
        right:180px;
        top:100px;
        justify-content: left;
        text-align: left;
        align-items: left;
        margin:0;
        padding-top:20px;
        padding-bottom:100px;
        background-image: url('/assets/images/stars1.svg'), url('/assets/images/stars2.svg');
        background-position: 25% 100%, 75% 0%;
        background-repeat: no-repeat, no-repeat;
        background-size: 5% auto, 5% auto;
    }
    &__aboutme{
        position: relative;
        bottom:8px;
        font-family: Roboto;
        font-size: 16px;
        padding: 0 20px;
        @include responsive(desktop) {
            position: relative;
            right:43px;
            bottom:20px;
            width: 700px;
            padding-left: 90px;
            font-size: 30px;
            margin:0;
        }
    }
    &__links{
        display: flex;
        flex-direction: row;
        gap:30px;
        margin-top:20px;
        @include responsive(desktop) {
            position: relative;
            right:100px;
            padding-top:60px;
            gap:80px;

        }
    }
}