@use '../mixins/responsive.scss' as *;
html {
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    color:var(--primary-color);
    @include responsive(desktop) {
        overflow-x: hidden;
    }
}
