@use '../mixins/responsive.scss' as *;
html {
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
    color:var(--primary-color);
    background:
    url('/assets/images/FondoBanner.svg');
    background-size: contain;
    background-position: 20% 12%;
    background-repeat: no-repeat;
    width: 100vw; /* Asegúrate de que el fondo cubra el ancho total */
    height: 100vh; 
    
    min-height: 100vh;
    @include responsive(desktop) {
    background-size: cover; /* Asegura que la imagen cubra todo el fondo sin distorsionarse */
    //background-position: center center; /* Centra la imagen en la página */
    background-position:20% 60%;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    }
}
