@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.btn {
    font-family:'Eagle Lake', cursive;
    font-size:15px;
    background-color: white; 
            color: var(--primary-color); 
            padding: 8px 10px; 
            border: none; 
            border-top: 1px solid var(--primary-color); 
            border-left: 1px solid var(--primary-color); 
            border-right: 1px solid var(--primary-color); 
            border-bottom: 4px solid var(--primary-color); 
            border-radius: 10px; 
            cursor: pointer; 
            transition: all 0.2s ease; 
            @include responsive(desktop) {
                font-size:20px;
                
              }
}


.hovered {
    transform: translateY(-4px);
    box-shadow: 0 2px 0px var(--primary-color); 
}


.active {
    transform: translateY(2px);
    box-shadow: 0 2px 0px var(--primary-color);
}