@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.btn {
    font-family: var(--font-title);
    font-size:15px;
    background-color: white; 
            color: var(--primary-color); 
            padding: 8px 10px; 
            border: none; 
            border-top: 1px solid var(--primary-color); 
            border-left: 1px solid var(--primary-color); 
            border-right: 1px solid var(--primary-color); 
            border-bottom: 4px solid var(--primary-color); 
            border-radius: 10px; 
            cursor: pointer; 
            transition: all 0.2s ease; 
            @include responsive(desktop) {
                font-size:20px;
              }
}

/* Clase para el efecto hover */
.hovered {
    transform: translateY(-4px); /* Eleva el botón 4px hacia arriba */
    box-shadow: 0 2px 0px var(--primary-color); /* Aumenta la sombra hacia arriba y hacia abajo */
}

/* Clase para el efecto active (pulsado) */
.active {
    transform: translateY(2px); /* Desplaza el botón 2px hacia abajo */
    box-shadow: 0 2px 0px var(--primary-color); /* Sombra más suave al presionar */
}