@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.contact{
  color:var(--primary-color);
    padding-left:40px;
    margin-top:120px;
    @include responsive(desktop) {
      margin-top:100px;
    }
    &__header{
      @include responsive(desktop) {
    padding-top:20px;
    background-image: url('/assets/images/SemicirculoEstrellado1.svg');
    background-size: 20% auto;
    background-position:10% 40%;
    background-repeat: no-repeat;
      }
    }

}
.text{
    padding-left:100px;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    @include responsive(desktop) {
        font-size:20px;
        padding-left:200px;
    }
}
.social-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top:40px;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    @include responsive(desktop) {
      margin-top:80px;
      display: grid;
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
    font-size:22px;
    }
  }
  
  .social-item {
    display: flex;
    align-items: center;
    gap:15px;
    @include responsive(desktop) {
      gap:20px;
    }
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
    @include responsive(desktop) {
      width: 40px;
      height: 40px;
    }
  }