@use '../mixins/responsive.scss' as *;

.header {
  display: flex;
  margin: 30px;
  color: var(--primary-color);
  @include responsive(desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left:180px;
    margin-top:60px;
    align-items: center;

  }}

.logo{
  width: 80px;
  @include responsive(desktop) {
    width: 120px;
  }
}

