@use '../mixins/responsive.scss' as *;

.header {
  color: black;
  height: 100px;
  @include responsive(desktop) {
    position: relative;
    z-index: 10;
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    //position: fixed;
    top: 0;
    align-items: center;
    //overflow: hidden;
    padding: 24px;
    z-index: 1;
    @include responsive(desktop) {
      //position: relative;
      padding: 30px 165px;
      z-index: 0;
    }
  }
}
.idiom{
  font-family: var(--font-title);
  color:var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  @include responsive(desktop) {
    font-size: 20px;
  }
}
.logo{
  width: 60px;
}
.night{
  width: 35px;
}
.header.disabled, .menu.disabled {
  pointer-events: none;
  opacity:40%;
}
