@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.main{
    overflow-y: hidden;
    overflow-x: hidden;
    background:
    url('/assets/images/Mancha2.svg'), url('/assets/images/stars1.svg'), url('/assets/images/Mancha3.svg'), url('/assets/images/Mancha4.svg'),url('/assets/images/stars2.svg');
    
    background-size: 70% auto, 10% auto, 80% auto, 60% auto, 10% auto;
    background-position: 20% 10%, 75% 5%, 180% 40%, 10% 86%,75% 81%;
    background-repeat: no-repeat;
    @include responsive(desktop) {
        overflow-y:hidden;
        margin-top:270px;
        padding-left:260px;
        background:
    url('/assets/images/OvaloProyectos.svg'), url('/assets/images/Mancha1.svg'), url('/assets/images/Mancha2.svg'),url('/assets/images/Mancha4.svg'), url('/assets/images/Mancha3.svg');
    
    background-size:22% auto,40% auto,32% auto, 20% auto, 30% auto;
    background-position: 80% 20%, 80% -5%, 20% 30%, 100% 45%, 112% 90%;
    background-repeat: no-repeat;
    }
}
