@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.main{
    //margin:40px 30px;
    max-width: 100%;
    overflow-y: hidden;
  overflow-x: hidden;
    display: flex;
    flex-direction: column;
    //transform: translateX(0);
    //transition: transform 0.4s;
    color:var(--primary-color);
  //background-color: blue;
    @include responsive(desktop) {
        margin:0;
        padding:100px;
        flex-direction: row;
        gap:50px;
        align-items: center;
    }
}

.icon{
    width: 300px;
    margin:auto;
    align-items: center;
    @include responsive(desktop) {
        width: 600px;
        position: relative;
        left:80px;
    }

}
.main--show{
    position: absolute;
    top: -9999px;
    //transform: translateX(110%);
}