@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.main{
    background:
    url('/assets/images/Mancha3.svg'), url('/assets/images/stars1.svg');
    
    background-size: 40% auto, 10% auto;
    background-position: 20% 12%, 70% 10%;
    background-repeat: no-repeat;
    @include responsive(desktop) {
        margin-top:10px;
        padding-left:260px;
    }
}
