@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.menu {
  //height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  //align-items: center;
  width:100%;
  overflow-y: hidden;
  overflow-x: hidden;
  position: fixed;
  padding: 100px 110px;
  transform: translateX(110%);
  transition: transform 0.3s;
  //z-index: 1;
  font-size: 30px;
  letter-spacing: 3px;
  font-family: var(--font-title);
  color:var(--primary-color);

  @include responsive(desktop) {
   display: flex;
   flex-direction: column;
   position: fixed;
   padding: 100px 750px;
   font-family: var(--font-title);
   font-size: 50px;
   gap:40px;
   //background-color: red;
   color:var(--primary-color);
  }
}

.toggle-menu {
  display: flex;
  align-items: center;
  gap:20px;
  
  @include responsive(desktop) {
  }
}
.menu--show {
  transform: translateX(0);
  @include responsive(desktop) {
    display: flex;
    
  }
}

.menu__item {
  margin-bottom: 48px;

  @include responsive(desktop) {
    margin-bottom: 0;

    @include hover {
      color:var(--primary-color);
    }
  }
}
.menu-icon{
  width: 40px;
  align-items: center;
}

