@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.menu {
  color:var(--primary-color);
  display: flex;
  flex-direction:row;
  gap:50px;
  font-family:'Eagle Lake', cursive;
  font-size:28px;
  padding-right:120px;
}

.menu li {
  
  color: var(--primary-color); 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.menu li:hover {
  color:var(--secondary-color);
}


@media (max-width: 768px) {
  .menu {
      display: none;
  }
}
