@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.menu {
  width: 100%;
  height: calc(100vh - 80px);
  text-align: center;
  position: fixed;
  top: 104px;
  padding: 50px 24px;
  transform: translateX(110%);
  transition: transform 0.3s;
  z-index: 1;
  font-size: 20px;
  letter-spacing: 2px;
  color: black;


  @include responsive(desktop) {
   display: flex;
   flex-direction: column;
   position: fixed;
  }
}

.toggle-menu {
  display: flex;
  align-items: center;
  gap:20px;
  @include responsive(desktop) {
  }
}
.menu--show {
  transform: translateX(0);
  @include responsive(desktop) {
    display: flex;
    
  }
}

.menu__item {
  margin-bottom: 48px;

  @include responsive(desktop) {
    margin-bottom: 0;

    @include hover {
      color: black;;
    }
  }
}
.menu-icon{
  width: 40px;
  align-items: center;
}
