@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
body{
    @include responsive(desktop) {
        overflow-x: visible;
        overflow-y: visible;
    }
}
.mosaic {
    display: grid;
    grid-template-columns:50% 50%;
    margin:auto;
    padding-top:60px;
    padding-left:20px;
    gap:10px;
    @include responsive(desktop) {
        width: 1800px;
        grid-template-columns:25% 25% 25% 25%;
        justify-content: space-between;
    }
    
  }
  .tile {
    width: 180px;
    position: relative;
    overflow: hidden;
    @include responsive(desktop) {
        width: 300px;
    }
  }
  
  .tile img {
    width: 100%;
    height: auto;
    transition: filter 0.3s;
  }
  
  .tile:hover img {
    filter: brightness(0.8);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 1); /* Fondo oscuro semitransparente */
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .overlay.active {
    display: flex;
  }
  
  .overlay img {
    max-width: 80%;
    max-height: 80%;
    cursor: zoom-out;
  }