@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
body{
    @include responsive(desktop) {
        overflow-x: visible;
        overflow-y: visible;
    }
}
.nuriva{
  padding-top:80px;
}
.carousel {
  max-width: 400px;
  overflow: hidden;
  margin:auto;
  box-shadow: 0 0 40px rgb(142, 123, 166);
  @include responsive(desktop) {
    position: relative;
    max-width: 800px;
    margin:auto;  }
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%; /* Asegura que cada slide ocupe el 100% del ancho del contenedor */
}

.slide img {
  max-width: 400px; /* Ajusta el ancho máximo de la imagen al 100% del contenedor */
  max-height: 100%; /* Ajusta la altura máxima de la imagen al 100% del contenedor */
  display: block; /* Asegura que la imagen se muestre como un bloque */
  margin: 0 auto; /* Centra la imagen horizontalmente dentro de su contenedor */
  @include responsive(desktop) {
    max-width: 800px;
  }
}

.prev-btn,
.next-btn {
  width: 35px;
  //height: 35px;
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  @include responsive(desktop) {
    top: 50%;
    width:0;
  }
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}