@use '../mixins/responsive.scss' as *;
.body-page{
    color:var(--primary-color);
    background-image: url('/assets/images/FondoBannerIzq.svg'), url('/assets/images/FondoBannerDrch.svg');
        background-position: left 15%, right 25%;
        background-repeat: no-repeat, no-repeat;
        background-size: 40% auto, 40% auto;
        min-height: 100vh;
    
    @include responsive(desktop) {
        background-image: url('/assets/images/FondoBannerIzq.svg'), url('/assets/images/FondoBannerDrch.svg');
        background-position: left 40%, right 100%;
        background-repeat: no-repeat, no-repeat;
        background-size: 15% auto, 20% auto;
        background-repeat: no-repeat;
    }
}
.back{
    display: flex;
    flex-direction: row;
    width: auto;
    gap:1.25rem;
    padding-top:3.125rem;
    padding-left:2.5rem;
    @include responsive(desktop) {
        padding-top:6.25rem;
        padding-left:10rem;
    }
}
.arrowleft{
    width: auto;
    height: 1.25rem;
    align-items: center;
}
.text-header{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    @include responsive(desktop) {
        font-size:1.25rem;
    }
}
.banner-page{
    padding-left:2.5rem;
    margin-top:3.7rem;
    @include responsive(desktop) {
        padding-left:9.375rem;
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-column-gap:3.75rem;
}}
.title-page{
    color:var(--secondary-color);

}
.text-banner-info{
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    @include responsive(desktop) {
        grid-column: 1/1;
        grid-row: 2/2;
        font-size:1.5rem;
    }
    
}
.text-banner-tags{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 0.75rem;
    @include responsive(desktop) {
        grid-column: 2/2;
        grid-row: 2/2;
        font-size:1.5rem;
    }
}
.main-page{
    padding-left:2.5rem;
    margin-top:3.75rem;
    position: relative;
    @include responsive(desktop) {
        padding-left:9.375rem;
    }
}
.section-page{
    @include responsive(desktop) {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}
.carousel-container {
    position: relative;
    height: auto;
    overflow: hidden;
    @include responsive(desktop) {
        width: calc(100% - 20px); /* Ajusta el ancho del contenedor con margen */
    max-width: 40.3125rem; /* Ancho máximo del carrusel */
    top:12.5rem;
    grid-column: 2/2;
        grid-row: 1/1;
    }
}

.carousel-slide {
    display: flex;
    width: 200%;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 50%; /* Cada imagen ocupa el 50% del ancho del contenedor */
    height: auto;
    object-fit: cover;
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
    .carousel-container {
        width: calc(100% - 20px); /* Ajusta el ancho máximo en móviles con margen */
    }
}
.article{
    display:flex;
    flex-direction: column;
    margin-top:1.25rem;
    padding-right:1.875rem;
    @include responsive(desktop) {
        //margin:80;
        margin-top:3.125rem;
    }
}
.title-article{
    color:var(--tertiary-color);
    font-family:DiamondSparkling;
    @include responsive(desktop) {
        font-size:1.5625rem;
    }
}
.text-article{
    color:var(--primary-color);
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    @include responsive(desktop) {
        font-size:1.25rem;
    }
}
.mockup{
    background-image: url('/assets/images/Ovalo.svg');
    background-position:left center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    &__image{
        width: 18.75rem;
        @include responsive(desktop) {
            width: max-content;
        }
    }
    @include responsive(desktop) {
    background-position:left center;
    background-repeat: no-repeat;
    background-size: 70% auto;
    width: 80%;
        }
    
}
.first-look{
width: 300px;
display: flex;
flex-direction: column;
padding-top:60px;
gap:40px;
@include responsive(desktop) {
    gap:20px;
        position: absolute;
        justify-content: center;
        width: 500px;
        right:200px;
        bottom:450px;
    }
}
.btn-page{
    margin:auto;
    @include responsive(desktop) {
        margin:auto;
    }
}
.mockup-move{
    @include responsive(desktop) {
        position: relative;
        top:140px;
        right:80px;
    }

}