/* Estilos opcionales */
@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.projects {
    color:var(--primary-color);
    margin-top:50px;
    padding-left: 40px;
    position: relative;
    overflow-y: hidden;
    @include responsive(desktop) {
        
    }
}
.title-section{
    
    font-size:30px;
    font-family:'Eagle Lake', cursive;
    @include responsive(desktop) {
        font-size:50px;
        overflow-x: visible;
    }
}
.project-title{
    font-family:'Eagle Lake', cursive;
    font-size:18px;
    //overflow-x: hidden;
    @include responsive(desktop) {
        font-size:30px;
        overflow-x: visible;
    }
}
.project-info {
    font-family: 'Roboto', sans-serif;;
    margin-bottom: 20px;
    position: relative;
    overflow-x: hidden;
    cursor: pointer;
    @include responsive(desktop) {
        width: 400px;
        overflow-y: visible;
    }
}
.project-details{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    gap:20px;
    flex: 1; /* Ocupa todo el espacio disponible */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    @include responsive(desktop) {
        gap:30px;
        font-size:18px;
    }
}
/* Imagen de hover en una posición fija */
.project-hover-image {
    overflow-x: hidden;
    position: absolute;
    top: 1280px; /* Ajusta la posición vertical según tus necesidades */
    right: 330px; /* Ajusta la posición horizontal según tus necesidades */
    display: none; /* Oculta la imagen por defecto */
    z-index: 1000; /* Asegura que la imagen esté sobre otros elementos */
    width: auto; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Solo mostrar la imagen de hover en pantallas de escritorio */
@media (min-width: 768px) {
    
    .project-info:hover .project-hover-image {
        display: block;
    }
}