/* Estilos opcionales */
@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.projects {
    color:var(--primary-color);
    margin-top:3.125rem;
    padding-left: 2.5rem;
    position: relative;
    overflow-y: hidden;
    @include responsive(desktop) {
        margin-top:0.625rem;
    }
}
.title-section{
    
    font-size:1.875rem;
    font-family:DiamondSparkling;
    @include responsive(desktop) {
        font-size:3.125rem;
        overflow-x: visible;
    }
}
.project-title{
    font-family:DiamondSparkling;
    font-size:1.125rem;
    //overflow-x: hidden;
    @include responsive(desktop) {
        font-size:1.875rem;
        overflow-x: visible;
    }
}
.project-info {
    font-family: 'Roboto', sans-serif;;
    margin-bottom: 1.25rem;
    position: relative;
    overflow-x: hidden;
    cursor: pointer;
    @include responsive(desktop) {
        width: 26.25rem;
        overflow-y: visible;
    }
}
.project{
    @include responsive(desktop) {
        width: 26.25rem;
        overflow-y: visible;
        cursor: pointer;
    }
}
.project-details{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    gap:1.25rem;
    flex: 1;
    white-space: nowrap; 
    font-size:0.975rem;
    font-family: 'Roboto', sans-serif;
    @include responsive(desktop) {
        gap:1.875rem;
        font-size:1.125rem;
    }
}

.hover-image {
    position: absolute; /* Cambia a fixed para que no se mueva */
    display: none; /* Oculta por defecto */
    
    top: 1250px; /* Ajusta la posición vertical según sea necesario */
    left: 1100px; /* Ajusta la posición horizontal según sea necesario */
}

.hover-image img {
    @include responsive(desktop) {
        max-width:90%;
    }
}


@media (max-width: 768px) {
    .hover-image {
        display: none;
    }

    .project:hover {
        background-color: transparent; 
    }
}