@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;
.stars{
    @include responsive(desktop) {
        display: flex;
        align-items: center;
    }
    &__first{
        position: relative;
        bottom:370px;
        left:120px;
        @include responsive(desktop) {
            bottom:330px;
            left:300px;
        }
    }
    &__second{
        position: relative;
        bottom:190px;
        right:140px;
        @include responsive(desktop) {
            bottom:120px;
            right:300px;

        }
    }
    &__third{
        position: relative;
        bottom:240px;
            left:170px;
        @include responsive(desktop) {
            bottom:120px;
            left:240px;
        }
    }
}