@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;
.title{
  display: flex;
  flex-direction: row;
  font-size:14px;
  @font-face {
    font-family: Diamond Sparkling;
    src: url('/src/public/assets/fonts/DiamondSparkling.ttf');
    font-size:14px;
    font-weight: normal;
    font-style: normal;
}
  letter-spacing: 1px;
  gap:10px;

  @font-face {
    font-family: Diamond Sparkling;
    src: url('/src/public/assets/fonts/DiamondSparkling.ttf');
    font-weight: 100;
    font-size:14px;
}
  @include responsive(desktop) {
    font-size:30px;
    gap:20px;
    letter-spacing: 2px;
  }
}
.word01{
  color: var(--primary-color);
}
.name{
  color: var(--tertiary-color);
  @include responsive(desktop) {
    color: var(--secondary-color);
  }
}
