@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;
.title{
  display: flex;
  flex-direction: row;
  font-size:14px;
  font-family:DiamondSparkling;
  gap:10px;
  @include responsive(desktop) {
    padding-left:140px;
    font-size:30px;
    gap:20px;
  }
}
.word01{
  color: var(--primary-color);
}
.name{
  color: var(--secondary-color);
  @include responsive(desktop) {
    color: var(--secondary-color);
  }
}
