@use '../mixins/pseudo.scss' as *;
@use '../mixins/responsive.scss' as *;
.scroll{
    display: flex;
    align-items: center;
    gap:30px;
}
.title-roll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
 
  gap:10px;
  color:white;
  font-size: 5px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  @include responsive(desktop) {
    width: 500px;;
    font-size: 20px;
  }
}

.inner-headings {
  border: 0px solid #ddd;
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  text-transform: uppercase;
  overflow: hidden;
  @include responsive(desktop) {
    font-size: 20px;
    top:1px;
    position: relative;
  }
}

.inner-headings span {
  position: relative;
  color:black;
  animation: animation 8s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  30% {
    top: -50px;
  }
  50% {
    top: -100px;
  }
  80% {
    top: -150px;
  }
}
