:root {
  /* Variables CSS */
  --primary-color:rgba(142, 123, 166, 1);
  --secondary-color:#4682b4;
  --tertiary-color:#CDCCCC;
  --quaternary-color:#575555;
  --font-title: 'Quicksand', sans-serif;
  --font-text: 'Playfair Display', serif;
}

/* Variables SASS */
