:root {
  /* Variables CSS */
  --primary-color:rgba(44, 44, 44, 1);
  --secondary-color:rgba(213, 175, 246, 1);
  --tertiary-color:rgba(112, 169, 161, 1);
  --font-title: Diamond Sparkling;
  --font-text: "Roboto";
  --size-title:14px;
  --size-text:12px;
}
@font-face {
  font-family: DiamondSparkling;
  src: url('/assets/fonts/DiamondSparkling.ttf');
  font-weight: 300;
  font-display: swap;
}
/* Variables SASS */
